%div{:style => "margin-left:auto;margin-right:auto;width: 960px"}
  %form
    %div{:class => "form-group"}
      %label{:for => "name"} Wklej swoją listę wymian
      %textarea{:class => "form-control", :rows => "5", :name => "list"}
      %button{:formmethod => "post", :formaction => "http://mathtrade.mgpm.pl/checklist", :type => "submit", :class => "btn btn-info"} Wyślij
  %p
    %b Przykładowy wpis:
    %p (avandrel) %RONIN : 771 819<br>(avandrel) %ACRES : 321 458 657<br>(avandrel) %LCG : 541 239 472 240 68 793 223 229 456<br>(avandrel) 351 : %RONIN 3 5 ; 7 10 11 ; 111<br>(avandrel) 352 : 1<br>(avandrel) 511 : 41 ; 72 130 121 ; %LCG