!!! 
%html   
  %head     
    %title CheckList
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/    
  %body
    - if @post
      = haml :_checklist
    - else
      = haml :_form              

  /
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/bootstrap.js"}
  %script{:src => "/js/stickyfloat.js"}

  %script $('.float').stickyfloat({easing: 'swing'});
  %script $(function () { $("div[data-toggle='tooltip']").tooltip({animated: 'fade',placement: 'bottom',}); });
  %script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-54987495-2', 'auto'); ga('send', 'pageview');