!!! 
%html   
  %head     
    %title= @converter.title
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/    
  %body
    %div{:width => "50%"} 
      %table{:id => "mytable", :class => "table tablesorter"}
        %thead
          %tr
          - @converter.headers.each do |header|
            %th{:class => "header"}= header
        %tbody
          - @converter.games.each do |game|
            %tr
            - game.values.each do |value|
              %td{:class => "vert-align"}= value
  /
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/bootstrap.js"}
  %script{:src => "/js/jquery.tablesorter.js"}

  %script $(document).ready(function(){$(function(){$("#mytable").tablesorter();});});
